@font-face {
  font-family: 'sriven';
  src:  url('../fonts/sriven.eot?b6r518');
  src:  url('../fonts/sriven.eot?b6r518#iefix') format('embedded-opentype'),
    url('../fonts/sriven.ttf?b6r518') format('truetype'),
    url('../fonts/sriven.woff?b6r518') format('woff'),
    url('../fonts/sriven.svg?b6r518#sriven') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="srivenIcon-"], [class*=" srivenIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sriven' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.srivenIcon-uniE912:before {
  content: "\e912";
}
.srivenIcon-uniE904:before {
  content: "\e904";
}
.srivenIcon-4:before {
  content: "\e905";
}
.srivenIcon-5:before {
  content: "\e906";
}
.srivenIcon-6:before {
  content: "\e907";
}
.srivenIcon-7:before {
  content: "\e908";
}
.srivenIcon-8:before {
  content: "\e909";
}
.srivenIcon-9:before {
  content: "\e90a";
}
.srivenIcon-10:before {
  content: "\e90b";
}
.srivenIcon-11:before {
  content: "\e90c";
}
.srivenIcon-12:before {
  content: "\e90d";
}
.srivenIcon-13:before {
  content: "\e90e";
}
.srivenIcon-14:before {
  content: "\e90f";
}
.srivenIcon-15:before {
  content: "\e910";
}
.srivenIcon-16:before {
  content: "\e911";
}
.srivenIcon-uniE900:before {
  content: "\e900";
}
.srivenIcon-1:before {
  content: "\e901";
}
.srivenIcon-2:before {
  content: "\e902";
}
.srivenIcon-3:before {
  content: "\e903";
}
